@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  color: black;
}

h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

h3 {
  font-family: Inter;
  font-size: 34px;
  font-weight: 400;
  color: black;
}

h4 {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  color: black;
}

h5 {
  font-family: Inter;
  font-weight: 400px;
  font-size: 24px;
  color: black;
}

p {
  font-size: 20px;
  font-family: Inter;
  line-height: 140%;
  padding: 0%;
  margin: 0%;
  font-weight: 400;
}

.text-medium {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.button-text {
  font-family: inter;
  font-size: 14px;
  color: black;
}

.button-text-white {
  font-family: inter;
  font-size: 14px;
  color: white;
}

.navigator {
  /* width: 100vw; */
  height: auto;
  padding-left: 264px;
  padding-right: 264px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid;
}

.logo-container {
  width: 93px;
  height: 35px;
  border: solid;
  border-width: 0.3px;
}


.button {
  background-color: black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
